<form>
  <fieldset>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email o usuario</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu email o usuario">
      <small id="emailHelp" class="form-text text-muted">Por seguridad nunca compartas tu email</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
    </div>
    <fieldset class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Recuerdame
        </label>
      </div>
    </fieldset>
    </fieldset>
    <fieldset class="form-group">
    </fieldset>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>
